numpy
matplotlib
seaborn
torch
torchvision
transformers
scipy
scikit-learn
scikit-image
ipython
numpy
tqdm
gymnasium
opencv-python
packaging
pyyaml
tensorboard
pytz
jupyter 
notebook
plotly
pygame
swig
mediapy